@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
    overflow: hidden;
    border-radius: var(--radius-xl);
    z-index: 1;
}

.background span {
    width: 18vmin;
    height: 18vmin;
    border-radius: 150vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 5;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #b3b5d1;
    top: 47%;
    left: 26%;
    animation-duration: 275s;
    animation-delay: -122s;
    transform-origin: 10vw 13vh;
    box-shadow: 54vmin 0 7.6489923800178605vmin currentColor;
}
.background span:nth-child(1) {
    color: #b3b5d1;
    top: 75%;
    left: 14%;
    animation-duration: 439s;
    animation-delay: -213s;
    transform-origin: -14vw -8vh;
    box-shadow: 54vmin 0 7.082440429213119vmin currentColor;
}
.background span:nth-child(2) {
    color: #b3b5d1;
    top: 21%;
    left: 28%;
    animation-duration: 126s;
    animation-delay: -79s;
    transform-origin: 19vw 24vh;
    box-shadow: -54vmin 0 6.75366412526302vmin currentColor;
}
.background span:nth-child(3) {
    color: #b3b5d1;
    top: 38%;
    left: 43%;
    animation-duration: 153s;
    animation-delay: -325s;
    transform-origin: 0vw 11vh;
    box-shadow: -54vmin 0 6.849208229761592vmin currentColor;
}
.background span:nth-child(4) {
    color: #b3b5d1;
    top: 10%;
    left: 16%;
    animation-duration: 365s;
    animation-delay: -151s;
    transform-origin: -9vw -23vh;
    box-shadow: -54vmin 0 7.51705955881459vmin currentColor;
}
.background span:nth-child(5) {
    color: #b3b5d1;
    top: 34%;
    left: 93%;
    animation-duration: 264s;
    animation-delay: -118s;
    transform-origin: 4vw 7vh;
    box-shadow: 54vmin 0 6.92872233841314vmin currentColor;
}
.background span:nth-child(6) {
    color: #b3b5d1;
    top: 20%;
    left: 2%;
    animation-duration: 295s;
    animation-delay: -351s;
    transform-origin: 24vw 8vh;
    box-shadow: -54vmin 0 7.175286026380964vmin currentColor;
}
.background span:nth-child(7) {
    color: #b3b5d1;
    top: 97%;
    left: 34%;
    animation-duration: 228s;
    animation-delay: -385s;
    transform-origin: -10vw 12vh;
    box-shadow: -54vmin 0 7.5886725821679875vmin currentColor;
}
.background span:nth-child(8) {
    color: #b3b5d1;
    top: 86%;
    left: 13%;
    animation-duration: 38s;
    animation-delay: -349s;
    transform-origin: -22vw -14vh;
    box-shadow: 54vmin 0 7.08585845145353vmin currentColor;
}
.background span:nth-child(9) {
    color: #b3b5d1;
    top: 68%;
    left: 17%;
    animation-duration: 392s;
    animation-delay: -274s;
    transform-origin: 4vw 12vh;
    box-shadow: -54vmin 0 7.030135021346105vmin currentColor;
}
.background span:nth-child(10) {
    color: #b3b5d1;
    top: 3%;
    left: 82%;
    animation-duration: 56s;
    animation-delay: -273s;
    transform-origin: -14vw 8vh;
    box-shadow: 54vmin 0 6.780232983652635vmin currentColor;
}
.background span:nth-child(11) {
    color: #b3b5d1;
    top: 62%;
    left: 42%;
    animation-duration: 437s;
    animation-delay: -313s;
    transform-origin: 21vw -16vh;
    box-shadow: 54vmin 0 7.2179762676748425vmin currentColor;
}
.background span:nth-child(12) {
    color: #b3b5d1;
    top: 28%;
    left: 37%;
    animation-duration: 381s;
    animation-delay: -353s;
    transform-origin: 19vw 24vh;
    box-shadow: 54vmin 0 7.629262943240331vmin currentColor;
}
.background span:nth-child(13) {
    color: #b3b5d1;
    top: 30%;
    left: 35%;
    animation-duration: 40s;
    animation-delay: -204s;
    transform-origin: -18vw 7vh;
    box-shadow: 54vmin 0 7.044766123290017vmin currentColor;
}
.background span:nth-child(14) {
    color: #b3b5d1;
    top: 75%;
    left: 80%;
    animation-duration: 133s;
    animation-delay: -360s;
    transform-origin: -4vw -16vh;
    box-shadow: -54vmin 0 7.039632480878161vmin currentColor;
}
.background span:nth-child(15) {
    color: #b3b5d1;
    top: 52%;
    left: 24%;
    animation-duration: 145s;
    animation-delay: -62s;
    transform-origin: -6vw -2vh;
    box-shadow: 54vmin 0 7.384552253435195vmin currentColor;
}
.background span:nth-child(16) {
    color: #b3b5d1;
    top: 2%;
    left: 37%;
    animation-duration: 74s;
    animation-delay: -43s;
    transform-origin: 19vw 24vh;
    box-shadow: -54vmin 0 6.870033745288697vmin currentColor;
}
.background span:nth-child(17) {
    color: #b3b5d1;
    top: 14%;
    left: 54%;
    animation-duration: 30s;
    animation-delay: -83s;
    transform-origin: -16vw 23vh;
    box-shadow: -54vmin 0 7.27341523703543vmin currentColor;
}
.background span:nth-child(18) {
    color: #b3b5d1;
    top: 69%;
    left: 27%;
    animation-duration: 301s;
    animation-delay: -430s;
    transform-origin: 14vw -2vh;
    box-shadow: -54vmin 0 6.951137464798922vmin currentColor;
}
.background span:nth-child(19) {
    color: #b3b5d1;
    top: 36%;
    left: 32%;
    animation-duration: 392s;
    animation-delay: -90s;
    transform-origin: 1vw 10vh;
    box-shadow: 54vmin 0 7.534365583247321vmin currentColor;
}
.background span:nth-child(20) {
    color: #b3b5d1;
    top: 61%;
    left: 82%;
    animation-duration: 228s;
    animation-delay: -202s;
    transform-origin: 1vw 14vh;
    box-shadow: -54vmin 0 6.756259651126756vmin currentColor;
}
.background span:nth-child(21) {
    color: #b3b5d1;
    top: 39%;
    left: 45%;
    animation-duration: 230s;
    animation-delay: -199s;
    transform-origin: -15vw 14vh;
    box-shadow: -54vmin 0 7.740171137893796vmin currentColor;
}
.background span:nth-child(22) {
    color: #b3b5d1;
    top: 52%;
    left: 61%;
    animation-duration: 422s;
    animation-delay: -425s;
    transform-origin: -9vw 10vh;
    box-shadow: 54vmin 0 6.909713605494254vmin currentColor;
}
.background span:nth-child(23) {
    color: #b3b5d1;
    top: 95%;
    left: 53%;
    animation-duration: 54s;
    animation-delay: -418s;
    transform-origin: -9vw 15vh;
    box-shadow: -54vmin 0 7.342042251702278vmin currentColor;
}
.background span:nth-child(24) {
    color: #b3b5d1;
    top: 57%;
    left: 35%;
    animation-duration: 157s;
    animation-delay: -296s;
    transform-origin: 18vw 25vh;
    box-shadow: 54vmin 0 6.994587553655927vmin currentColor;
}
.background span:nth-child(25) {
    color: #b3b5d1;
    top: 1%;
    left: 43%;
    animation-duration: 183s;
    animation-delay: -182s;
    transform-origin: 1vw 19vh;
    box-shadow: 54vmin 0 7.564394182045567vmin currentColor;
}
.background span:nth-child(26) {
    color: #b3b5d1;
    top: 8%;
    left: 66%;
    animation-duration: 397s;
    animation-delay: -341s;
    transform-origin: 4vw 9vh;
    box-shadow: 54vmin 0 7.7014989239366445vmin currentColor;
}
.background span:nth-child(27) {
    color: #b3b5d1;
    top: 43%;
    left: 59%;
    animation-duration: 200s;
    animation-delay: -79s;
    transform-origin: -5vw -4vh;
    box-shadow: -54vmin 0 6.909539774781557vmin currentColor;
}
.background span:nth-child(28) {
    color: #b3b5d1;
    top: 4%;
    left: 46%;
    animation-duration: 303s;
    animation-delay: -30s;
    transform-origin: -7vw -1vh;
    box-shadow: -54vmin 0 7.70521185794061vmin currentColor;
}
.background span:nth-child(29) {
    color: #b3b5d1;
    top: 82%;
    left: 72%;
    animation-duration: 66s;
    animation-delay: -406s;
    transform-origin: -3vw -3vh;
    box-shadow: -54vmin 0 7.019770230027991vmin currentColor;
}
.background span:nth-child(30) {
    color: #b3b5d1;
    top: 88%;
    left: 35%;
    animation-duration: 15s;
    animation-delay: -439s;
    transform-origin: -8vw 9vh;
    box-shadow: 54vmin 0 7.202588361619059vmin currentColor;
}
.background span:nth-child(31) {
    color: #b3b5d1;
    top: 1%;
    left: 45%;
    animation-duration: 408s;
    animation-delay: -95s;
    transform-origin: -6vw -23vh;
    box-shadow: -54vmin 0 7.174397500274029vmin currentColor;
}
.background span:nth-child(32) {
    color: #b3b5d1;
    top: 72%;
    left: 81%;
    animation-duration: 269s;
    animation-delay: -371s;
    transform-origin: 21vw 23vh;
    box-shadow: 54vmin 0 6.770244266300577vmin currentColor;
}
.background span:nth-child(33) {
    color: #b3b5d1;
    top: 7%;
    left: 79%;
    animation-duration: 304s;
    animation-delay: -71s;
    transform-origin: -14vw 21vh;
    box-shadow: -54vmin 0 6.774915589115394vmin currentColor;
}
.background span:nth-child(34) {
    color: #b3b5d1;
    top: 41%;
    left: 20%;
    animation-duration: 177s;
    animation-delay: -260s;
    transform-origin: -18vw -8vh;
    box-shadow: -54vmin 0 7.675109123353598vmin currentColor;
}
.background span:nth-child(35) {
    color: #b3b5d1;
    top: 9%;
    left: 26%;
    animation-duration: 75s;
    animation-delay: -16s;
    transform-origin: -21vw 2vh;
    box-shadow: 54vmin 0 7.00232804867264vmin currentColor;
}
.background span:nth-child(36) {
    color: #b3b5d1;
    top: 37%;
    left: 48%;
    animation-duration: 322s;
    animation-delay: -29s;
    transform-origin: 14vw -10vh;
    box-shadow: 54vmin 0 7.589272882009504vmin currentColor;
}
